<!--
    Generate with
    wkhtmltoimage --height 400 --width 400 twitter_avatar.html twitter_avatar.jpg
-->
<html>
<head>
<title>Word-of-the-day-bot</title>
<style>
    @import "http://fonts.googleapis.com/css2?family=K2D";

    html {
        height: 100%;
    }

    body {
        font-family: "K2D", sans-serif;
    }

    .word {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 24vw;
        font-style: italic, bold;
    }
    
</style>
</head>

<body style="background-color: #8899a6">

    <div class="word"><p style="color: white">WOTD</br>BOT</p></div>

</body>
</html>
